---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {% for tag in site.tags %}
  <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
  <ul class="post-list">
    {% for post in tag[1] %}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h4>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h4>
        <span class="post-tags">
          <b>Tags: </b>
            <small>
                {% for tag in post.tags %}
                <a href="/tags.html#{{ tag }}">{{ tag }}</a>
                {% endfor %}
            </small>
        </span>
        <br />
        {{ post.summary }}
      </li>
    {% endfor %}
  </ul>
  {% endfor %}

</div>
